{% extends "main/base.html" %}

{% block title %}Обо мне{% endblock %}

{% block content %}
<h1 class="text-4xl font-bold mb-6 text-purple-400">📘 Обо мне</h1>

<p class="text-center text-sm text-gray-400 mb-4">
  <a href="{% url 'home' %}" class="text-purple-400 hover:underline">Главная</a>
</p>

<p class="text-gray-300 max-w-xl">
  Привет! Я <strong>Разработчик Diary</strong>, и я создал этот проект, чтобы помочь людям лучше организовывать свои задачи, следить за прогрессом и достигать целей.
  <br><br>
  Diary — это результат моего стремления объединить простоту, функциональность и удобство в одном месте. Я верю, что цифровые инструменты должны работать на тебя, а не наоборот.
  <br><br>
  Спасибо, что используешь Diary! Надеюсь, он станет полезной частью твоего продуктивного дня.
</p>
{% endblock %}
