{% extends "main/base.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold mb-6 text-purple-400">👤 Мой профиль</h1>

<p class="text-center text-sm text-gray-400 mb-4">
  <a href="{% url 'home' %}" class="text-purple-400 hover:underline">Главная</a>
</p>

<div class="bg-gray-800 p-6 rounded-lg shadow-md max-w-md mx-auto space-y-4">
  <p><strong>Логин:</strong> {{ user.username }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
</div>

<a href="{% url 'logout' %}" class="block text-center mt-6 text-sm text-gray-400 hover:text-white">Выйти</a>
{% endblock %}
